@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Nunito",sans-serif;
}
:root {
	--primary-clr: #61c7f7;
	--body-clr: #103cea;
	--bg-clr: #0548e3;
	--text-clr: #96989b;
	--white-clr: #fff;
}
.imagecrds {
  width: 18rem; 
  margin-bottom: 20px; 
  margin-top: 30px;
}
  .container {
	max-width: 630px;
	margin: 0 auto;
	padding: 0 15px;
}
  nav ul {
	display: flex;
	align-items: center;
	list-style: none;
	gap: 20px;
}
  nav a {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5px;
	color: var(--text-clr);
	text-decoration: none;
	font-weight: 500;
	padding: 10px 15px;
	border-radius: 5px;
	transition: all 0.3s ease;
}
ion-icon {
	margin-top: 20px;
	font-size: 35px;
	border-radius: 5px;
	transition: all 0.3s ease;
}
 .home-official{
	position: relative;
	left: 78px;
	width: calc(100% - 60px);
	transition: all 0.5s ease;
  }
  li:hover a,
  li.active a {
	color: #fff;
}
i {
	font-size: 25px;
}
 .izon{
	font-family: "Quicksand", sans-serif;
	font-weight: bold;
}
 .ison{
	font-family: "Glory", sans-serif;
	font-weight: bold;
 }
 .ibon{
	font-family: "Nunito", sans-serif;
	font-weight: bold;
 }
 /* .iscs{

 }
 .igws{
  
 } */
 .ipc{
  color: rgb(7, 22, 240)
 }
body {
  background: #fff;
	min-height: 100vh;
}
.bar3 li:hover ion-icon {
  color: #fff;
  padding: 5px;
  background-color: orange;
}
.bar3 li.active ion-icon{
  color: white;
  padding: 5px;
  background-color: orange;
}
nav {
	position: relative;
	z-index: 99;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgb(29, 6, 240);
	color: #FFF;
	padding: 1rem 1.5rem;
	width:100%;
	padding: 0 15px;
	margin-bottom: 0px;
	overflow: hidden;
}

nav h1 {
	letter-spacing: 5px;
	padding: 0.5rem 1rem;
	padding-right: calc(1rem - 5px);
	border: 3px solid white;
}

nav h1:hover {
	color: crimson;
}

.menu {
	display: none;
	align-items: center;
	margin: 0 -1rem;
}

.menu a {
	margin: 0 1rem;
	color: white;
	text-decoration: none;
	transition: 0.3s;
}

.menu a:hover {
  color: #fff;
}

.hamburger {
	appearance: none;
	outline: none;
	border: none;
	background: none;
	cursor: pointer;
	display: block;
	width: 2rem;
	height: 2rem;
}

.hamburger span {
	color: #FFF;
	font-size: 2rem;
}
.mobile-menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 98;
	padding-top: 6rem;
	opacity: 0;
	transform: translateY(-100%);
	background-color: rgb(29, 6, 240);
	color: #FFF;
	transition: 0.3s;
}

.mobile-menu.is-open {
	opacity: 1;
	transform: translateY(0);
}

.mobile-menu a {
	display: block;
	padding: 1rem;
	color: #FFF;
	text-align: center;
	text-decoration: none;
	font-size: 1.25rem;
	transition: 0.3s;
}

.mobile-menu a:hover {
	color: rgb(243, 7, 54);
	background-color: #FFF;
}
.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  background: #1804f2cf;
  z-index: 100;
  transition: all 1.5s ease;
}
.sidebar.close{
  width: 78px;
  background: #1804f276;
  opacity: 0;
}
.sidebar.close:hover{
  width: 78px;
  background: #1804f276;
  opacity: 100;
}
.sidebar .logo-details{
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
}
.sidebar .logo-details i{
  font-size: 55px;
  color: rgb(7, 132, 228);
  height: 20px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
}
.sidebar .logo-details .logo_name{
  font-size: 22px;
  margin-top: 31px;
  color: #fff;
  font-weight: 600;
  transition: 1.3s ease;
  transition-delay: 0.1s;
}
.sidebar.close .logo-details .logo_name{
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links{
  height: 100%;
  padding: 30px 0 150px 0;
  overflow: auto;
}
.sidebar.close .nav-links{
  overflow: visible;
}
.sidebar .nav-links::-webkit-scrollbar{
  display: none;
}
.sidebar .nav-links li{
  position: relative;
  margin-top: 30px;
  list-style: none;
  transition: all 0.4s ease;
}
.sidebar.close .nav-links li{
  margin-top: 39px;
}
.sidebar .nav-links li:hover{
  background: #07def2c8;
}
.sidebar .nav-links li .iocn-link{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sidebar.close .nav-links li .iocn-link{
  display: block
}
.sidebar .nav-links li i{
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 24px;
  font-weight: normal;
  cursor: pointer;
  transition: all 0.3s ease;
}
.sidebar .nav-links li.showMenu i.arrow{
  transform: rotate(-180deg);
}
.sidebar.close .nav-links i.arrow{
  display: none;
}
.sidebar .nav-links li a{
  display: flex;
  align-items: center;
  text-decoration: none;
}
.sidebar .nav-links li a .link_name{
  font-size: 18px;
  font-weight: normal;
  color: #fff;
  transition: all 0.4s ease;
}
.sidebar.close .nav-links li a .link_name{
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li .sub-menu{
  padding: 6px 6px 14px 70px;
  background: #1804f276;
  color: rgb(0, 213, 255);
  display: none;
  text-align: center;
  transition: all 0.3s ease;
}
.sidebar .nav-links li.showMenu .sub-menu{
  display: block;
}
.sidebar .nav-links li .sub-menu a{
  color: #fff;
  font-size: 16px;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 1;
  transition: all 0.3s ease;
}
.sidebar .nav-links li .sub-menu a:hover{
  opacity: 50;
}
.sidebar.close .nav-links li .sub-menu{
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
}
.sidebar.close .nav-links li:hover .sub-menu{
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}
.sidebar .nav-links li .sub-menu .link_name{
  display: none;
}
.sidebar.close .nav-links li .sub-menu .link_name{
  font-size: 18px;
  opacity: 1;
  display: block;
}
.sidebar .nav-links li .sub-menu.blank{
  opacity: 1;
  pointer-events: auto;
  padding: 3px 20px 6px 16px;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li:hover .sub-menu.blank{
  top: 50%;
  transform: translateY(-50%);
}
.sidebar .profile-details{
  position: fixed;
  bottom: 0;
  width: 260px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1e0ddb;
  padding: 12px 0;
  transition: all 0.5s ease;
}
.sidebar.close .profile-details{
  background: none;
}
.sidebar.close .profile-details{
  width: 78px;
}
.sidebar .profile-details .profile-content{
  display: flex;
  align-items: center;
}
.sidebar .profile-details img{
  height: 52px;
  width: 52px;
  object-fit: cover;
  border-radius: 16px;
  margin: 0 14px 0 12px;
  background: #1c0ae3;
  transition: all 0.5s ease;
}
.sidebar.close .profile-details img{
  padding: 10px;
}
.sidebar .profile-details .profile_name,
.sidebar .profile-details .job{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
}
.sidebar.close .profile-details i,
.sidebar.close .profile-details .profile_name,
.sidebar.close .profile-details .job{
  display: none;
}
.sidebar .profile-details .job{
  font-size: 12px;
}
.home-section{
  position: relative;
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
}
.sidebar.close ~ .home-section{
  left: 78px;
  width: calc(100% - 78px);
}
.home-section .home-content{
  height: 60px;
  display: flex;
  align-items: center;
}
.home-section .home-content .box-menu,
.home-section .home-content .text{
  color: #1907df;
  font-size: 35px;
}
.home-section .home-content .box-menu{
  margin: 0 15px;
  cursor: pointer;
}
.home-section .home-content .text{
  font-size: 26px;
  font-weight: 600;
}
.hovering{
  margin-bottom: 160px;
  position: relative;
}
.hover-menu{
  color: #1907df;
  margin: 0 15px;
  cursor: pointer;
}
@media (min-width: 768px) {
	.mobile-menu, .hamburger {
		display: none;
	}

	.menu {
		display: flex;
	}
}
@media (max-width: 400px) {
  .sidebar.close .nav-links li .sub-menu{
    display: none;
  }
  .sidebar{
    width: 78px;
  }
  .sidebar.close{
    width: 0;
  }
  .home-section{
    left: 78px;
    width: calc(100% - 78px);
    z-index: 100;
  }
  .sidebar.close ~ .home-section{
    width: 100%;
    left: 0;
  }
}