@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
:root {
  --primary-color: #672ee3;
  --blue-color: #356aff;
  --heading-color: rgb(3, 37, 231);
  --light-bg-color: rgb(0, 255, 247, 0.3);
  --red-text-color: #111116;
  --blue-text-color: #0f22ef;
  --red-text-color: rgb(201, 14, 14);
  --shadow-clr: crimson;
  --body-clr: #15161a;
  --bg-clr: #0548e3;
  --text-clr: #96989b;
  --green-text-color: rgb(15, 137, 76);
  }

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}
.container {
  position: relative;
  width: 600px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.65);
  border-radius: 10px;
  box-shadow: 0 0 20px var(--shadow-clr);
}
.container .heading {
  width: 100%;
  padding: 20px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  border-bottom: 1px solid var(--blue-color);
}
.tasks-wrapper {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 300px;
  overflow: auto;
}
.task {
  display: flex;
  gap: 20px;
  padding: 0 10px 20px 10px;
  border-bottom: 1px solid var(--blue-color);
}
.task:last-child {
  border-bottom: none;
}
.task .radio {
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-top: 5px;
  border: 1px solid rgb(10, 6, 243);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.task .radio .icon {
  color: rgb(33, 157, 229);
  font-size: 16px;
  font-weight: bolder;
  pointer-events: none;
  transition: all 0.3s ease;
}
.task.selected .radio {
  background-color: var(--shadow-clr);
}
.task.task.selected .radio .icon {
  opacity: 1;
}
.task .right {
  flex: 1;
}
.task .title {
  font-size: 16px;
  font-weight: 500;
  color: var(--heading-color);
}
.task .description {
  font-size: 14px;
  color: var(--blue-text-color);
}
.task .info {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 12px;
  color: var(--green-text-color);
  margin-top: 10px;
}
.task .info.expired {
  color: var(--shadow-clr);
}
.task .info .dot {
  font-size: 5px;
  color: var(--light-bg-color);
}
.tasks-wrapper .delete {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  bottom: 220px;
  color: var(--red-text-color);
  display: none;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--shadow-clr);
  cursor: pointer;
  transition: all 0.3s ease;
}
.tasks-wrapper .delete:hover {
  color: #f00;
  border-color: #f00;
}
.tasks-wrapper .delete.show {
  display: flex;
}
.tasks-wrapper .no-tasks {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.add-wrapper {
  width: 110%;
  padding: 20px;
  background-color: var(--blue-color);
  border-radius: 10px;
  box-shadow: 0 0 20px var(--shadow-clr);
}
.add-wrapper .details {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.add-wrapper .details input {
  font-size: 20px;
  color: var(--blue-text-color);
}

.add-wrapper .details textarea{
  font-size: 16px;
  color: var(--blue-color);
}

.add-wrapper .details input::placeholder {
  color: var(--blue-text-color);
  font-weight: bold;
  font-family: "Nunito", sans-serif;
}
.add-wrapper .details textarea::placeholder{
  color: var(--blue-color);
  font-weight: bold;
  font-family: "Quicksand", sans-serif;
}
.add-wrapper .details input {
  font-weight: 500;
  margin-bottom: 10px;
}
.add-wrapper .details textarea {
  resize: none;
  height: 100px;
}
.add-wrapper .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .info {
  font-size: 12px;
  color: var(--primary-color);
  font-weight: 700;
  display: flex;
  gap: 20px;
}
.footer .info label {
  position: relative;
  padding: 5px 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  text-transform: capitalize;
}
.footer .info input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}
.footer .info input::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  cursor: pointer;
  height: auto;
  width: auto;
  background-color: transparent;
  color: transparent;
}
.footer .btn {
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  text-transform: capitalize;
  cursor: pointer;
  transition: all 0.3s ease;
}
.footer .btn.clear {
  color: #fff;
  border: 1px solid var(--shadow-clr);
  background-color: var(--shadow-clr);
}
.footer .btn.add {
  background-color: var(--blue-text-color);
}

/* media queries */
@media screen and (max-width: 670px) {
  body {
    display: block;
  }
  .container {
    width: 100%;
    border-radius: 0;
  }
  .add-wrapper {
    width: 100%;
    border-radius: 0;
  }
  .Primordial-tasks{
    margin-top: 100px;
  }
}

@media screen and (max-width: 400px) {
  .tasks-wrapper .delete {
    bottom: 280px;
  }
  .add-wrapper .footer {
    flex-direction: column;
    gap: 10px;
    
  }
  
}