<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Layout</title>
            <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster Two">
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Glory">
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito">
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand">
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto Slab">
            <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
	          <link rel="stylesheet" href="layout.css">
        </head>
    <body>
        <!--HEADER-->
            <section>
                <div class="bg-primary text-center p-5">
                    <div class="d-inline-flex justify-content-around align-items-center">
                        <img src="/assets/Icon-1.png" alt="Icon 1" class="img-fluid" width="10%">
                        <h1 class="mb-7 display-1 fw-bold text-danger" style="font-family: 'Nunito', serif;" id="Home">Digital Assistant</h1>
                        <img src="/assets/Icon-2.png" alt="Icon 2" class="img-fluid" width="8%">
                    </div>
                    <p class="lead fs-2 text-light" style="font-family: 'Glory', serif;">Simplify your day with this digital assistant!</p>
                    <a href="" class="btn btn-danger text-light fw-bold fs-5" style="margin-top: 15px;">Explore our features!</a>
                </div>
            </section>
        <!--NAVBAR-->
            <section>
                <header>
                    <nav>
                        <a href="#" style="text-decoration: none;" class="text-primary"><h1>HOME</h1></a>
                        <div class="menu fs-3" style="margin-right: 50px;">
                            <a href="#">To-do list</a>
                            <a href="#">Calendar Events</a>
                            <a href="#">Calculator</a>
                            <a href="#">Additionals</a>
                        </div>
                        <button class="prime">
                            <span class="material-icons">menu</span>
                        </button>
                    </nav>
                    <div class="mobile-menu">
                        <a href="#">To-do list</a>
                        <a href="#">Calendar Events</a>
                        <a href="#">Calculator</a>
                        <a href="#">Home</a>
                    </div>
                </header>
            </section>
            <!--CALCULATOR-->
            <!--Footer-->
            <section id="more-about">
                <div>
                <footer class="bg-primary text-center text-white">
                  <div class="container p-4 pb-0">
                    <section class="mb-4">
                      <a
                        class="btn btn-primary btn-floating m-1"
                        style="background-color: #060ef9;"
                        href=""
                        role="button"
                        ><i class="fab fa-facebook-f"></i
                      ></a>
                      <a
                        class="btn btn-primary btn-floating m-1"
                        style="background-color: #f1250a;"
                        href=""
                        role="button"
                        ><i class="fab fa-google"></i
                      ></a>
                      <a
                        class="btn btn-primary btn-floating m-1"
                        style="background-color: #f60b3e;"
                        href=""
                        target="_blank"
                        role="button"
                        ><i class="fab fa-instagram"></i
                      ></a>
                      <a
                      class="btn btn-primary btn-floating m-1"
                      style="background-color: #3505f6;"
                      href=""
                      role="button"
                      ><i class="fab fa-github"></i ></a>
                    </section>
                  </div>
                  <div class="text-center p-3" style="background-color: rgba(13, 143, 235, 0.822);">
                    © 2020 Copyright:
                    <a class="text-white" href="">TVSC</a>
                  </div>
                </footer>
              </div>
              </section>
        <script src="main.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script> 
    </body>
</html>